*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.divTotal{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.barraSup{
    display: flex;
    position: fixed;
    height: 15%;
    width: 100%;
    font-size: 400%;
    background-color: #FFA500;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.menu{
    background-color: #FFA500;
    min-width: 20%;
    width: 20%;
    height: 84%;
    min-height: 84%;
    display: flex;
    flex-direction: column;
    border: solid 5px;
    flex: 1;
    float: left;
    position: fixed;
    margin-top: 15vh;
    font-size: 200%;
}
.menu2{
    min-width: 20%;
    width: 20%;
    height: 84%;
    min-height: 84%;
    display: flex;
    flex-direction: column;
    border: solid 3px;
    flex: 1;
    float: left;
    visibility: hidden;
}
.div_conteudo{
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
}
h2{
    font-size: 300%;
    margin: 5px;
    margin-left: 8px;
}
h3{
    font-size: 225%;
    margin: 5px;
    margin-left: 8px;
    font-weight: normal;
}
.tituloExplicacao{
    font-size: 200%;
}
.divExplicacao{
    max-width: 90%;
    font-size: 150%;
    margin-left: 12px;
    flex: 1;
}
.divPratica{
    max-width: 70%;
    font-size: 150%;
    margin-left: 12px;
    flex: 1;
}
.divCuriosidade{
    max-width: 27%;
    width: 27%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 15px;
    align-self: center;
    min-height: 60vh;
    justify-content: center;
    height: 60%;
    font-size: 150%;
    position: sticky;
}
.teste{
    max-width: 70%;
}
.menuItem:hover{
    box-shadow: 2px 2px;
    font-weight: bold;
}
.botao{
    background-color: #FFA500;
    font-size: 200%;
    padding: 15px;
    border-radius: 15px;
}